.activity-chart {
    grid-row: 1;
    grid-column: 2;
    width:835px;
    height: 320px;
    margin-top: 170px;
    margin-left: 50px;
    background: #FBFBFB;
    border-radius: 5px;
}

.activity-chart  h2 {
    position: absolute;
    margin-top: 10px;
    margin-left: 20px;
}

.daily-chart-tooltip {
    background-color: #E60000;
    color: white;
    font-size: 8px;
    padding: 2.5px;
}

.recharts-wrapper {
    width:800px;
}

.daily-chart-tooltip p {
    padding: 2.5px;
}

