.average-duration-chart {
    position: relative;
    width: 258px;
    height: 263px;
    background-color: #FF0000;
    color: white;
    border-radius: 5px;
    margin-left: 175px;
    margin-top: 50px;
}

.average-duration-chart h2{
    max-width: 110px;
    font-size: 15px;
    opacity: 0.5;
    position: absolute;
    top: 20px;
    left: 20px;
}

.average-duration-tooltip {
    background-color: white;
    color: black;
    padding: 1px 5px 1px 5px;
}
