.header-dashboard {
    width: 414px;
    grid-row: 1;
    grid-column: 2;
    height: min-content;
    margin-top: 30px;
    margin-left: 50px;
}

.header-dashboard h1 {
    margin: 20px 0px 20px 0px;
}

.first-name {
    color:#FF0000;
}

@media screen and (max-width: 1200px) {
    .header-dashboard {
        margin-left: 2%;
    }
}