.keydata-container {
    position: relative;
    margin-left: 31px;
    bottom: 618px;
    left: 1000px;
    height: 600px;
    width: 300px;
}

.keydata-card {
    width:258px;
    height: 124px;
    border-radius:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FBFBFB;
    margin-bottom: 40px;
}

.keydata-content {
    margin: 0px 60px 0px 10px;
}

.keydata-content p {
    font-weight: bold;
    margin: 5px 0px 5px 0px;
    font-size: 14px;
}

.keydata-content span {
    color:#74798C;
}